.container{
    position: absolute;
    top: 35%;
    left: 35%;
}
.correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }
  
